/* ALL PAGE STYLES */
* {
    font-family: 'Montserrat',
        sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container-fluid {
    padding: 0px !important;
}

a,
a:active,
a:visited {
    color: white;
    font-size: 11pt;
}

a:hover {
    color: #c0e969;
    text-decoration: none;
}

a:active,
a:visited,
h1,
nav,
.details,
.display-4,
label,
.btn,
.footer {
    text-transform: uppercase;
}

/* Custom button w/ design color */
.btn-saint {
    background-color: #40554E;
    color: white;
}

.btn-saint:hover {
    background-color: grey;
    color: white;
}

.details,
.footer {
    font-size: 10pt;
}



/* PAGE IMAGES */
#home {
    min-height: 100vh;
    background-image: url(Photos/restroom.jpg);
    background-size: cover;
}

#about {
    min-height: 100vh;
    background-image: url(Photos/patio3.jpg);
    background-size: cover;
}

#services {
    min-height: 100vh;
    background-image: url(Photos/patio.jpg);
    background-size: cover;
}

#faq {
    min-height: 100vh;
    background-image: url(Photos/living3.jpg);
    background-size: cover;
}

#contact {
    min-height: 100vh;
    background-image: url(Photos/flooring.jpg);
    background-size: cover;
}


/* NAVIGATION */

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 10000;
    margin-left: 10px;
    border: 1px white solid;
}

nav {
    background-color: rgb(65, 85, 78, .7);
    color: white;
    font-size: 18pt;
    border-bottom: white 1px solid;
}


.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.nav-link {
    text-align: center;
}

/* HOME/LAUNCH PAGE */
.home {
    background-repeat: no-repeat;
}


/* /////////////ABOUT PAGE//////////*/

.abouttext>p {
    background: rgb(255, 255, 255, .8);
    line-height: .5en;
    padding: 15px 15px 15px 20px;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, .5);
}


.abouttext {
    padding-top: 50px;
    margin-left: 2%;
}


/* //////////SECOND ROW OF ABOUT ///////////*/
/* this creates the black/white rectangular bg */
.bottom {
    background: rgb(255, 255, 255, .8);
    border-top: 35px solid black;
    border-bottom: 35px solid black;
    height: 200px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 0;
}

.icon {
    color: #5A7A25;
    font-size: 40pt;
}

.icon-location:before {
    content: "\e947";
}

.icon-wrench:before {
    content: "\e991";
}

.icon-bookmark:before {
    content: "\e9d2";
}

.icon-phone:before {
    content: "\e942";
}

.icon-mail2:before {
    content: "\ea84";
}


/* ///// REVISE SERVICES ////// */
#servicesListDiv {
    background-color: rgb(0, 0, 0, .7);
    padding-left: 0;
    padding-right: 0;
}

.servtitle {
    background-color: grey;
    color: white;
    font-size: 12pt;
    border: white 1px solid;
    border-radius: 20px;
    margin-top: 5%;
}

.serviceslist {
    margin-top: 10%;
    margin-bottom: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(64, 85, 78, .6);
    color: white;
    line-height: 1.5em;
}

.serviceslist>ul {
    list-style-type: square;
}


.servicelogo>img {
    width: 200px;
    height: 200px;
    margin-bottom: 10%;
}

.serviceslist>ul>hr {
    background-color: white;
    max-width: 50%;
}

h1 {
    color: white;
    background: rgb(0, 0, 0, .8);
}



/* FAQ PAGE */

.FAQ { 
    padding-top: 100px;
}

.answer {
    color: black;
    padding-left: 10px;
}

h5 {
    background-color: #40554E;
    border-radius: 2px;
    color: white;
    padding-top: 1em;
    padding-left: 10px;
}

.faqanswers {
    background-color: rgb(255, 255, 255, .8);
    border-radius: 10px;
    padding-left: 0;
    margin-bottom: 40px;
}

/* /////// CONTACT PAGE /////// */

#contact {
    color: white;
}

@media  (min-width: 768px){ 
    .footer{ 
        align-content: left;
    }
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

label {
    padding-bottom: 2px;
    margin-top: 10px;
    margin-bottom: 0px
}

input,
textarea,
select {
    opacity: .7;
}

.submitButton {
    border: 1px solid rgb(225, 225, 225, .5);
    box-shadow: 2px 2px 3px rgb(0, 0, 0, .5);
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 15%;
}

.contactForm {
    margin-bottom: 10%;
    margin-top: 5%;
}

.contactheader {
    height: 150px;
    border: 1px solid white;
    background: rgb(0, 0, 0, .8);
}