/* ALL PAGE STYLES */
* {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 11pt;
    font-family: 'Montserrat', sans-serif;
}


.container-fluid {
    padding: 0px;
}

a,
a:active,
a:visited {
    color: white;
    text-transform: uppercase;
    font-size: 11pt;
}

a:hover {
    color: #c0e969;
    text-decoration: none;
}

strong {
    color: #40554E;
    font-size: 10pt;
}

/* CONTACT US BUTTON */
button {
    color: white;
    background-color: #5A7A25;
    border: 1px solid #99C279;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px grey;
    border-radius: 45px;
    padding: 10px 45px;
}


button:hover {
    color: #5A7A25;
    background-color: transparent;
    border: 2px solid #5A7A25;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px grey;
    border-radius: 45px;
    padding: 10px 45px;
}

/* NAVIGATION */

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 10000;
    margin-left: 10px;
    border: 1px white solid;
}

nav {
    background-color: #40554E;
    opacity: .7;
    text-transform: uppercase;
    color: white;
    font-size: 18pt;
    border-bottom: white 1px solid;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

/* HOME/LAUNCH PAGE */
.home {
    background-repeat: no-repeat;
}


/* /////////////ABOUT PAGE//////////*/

#about>.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#about>img {
    opacity: .6;
}

.abouttext>p {
    background: white;
    opacity: .8;
    font-size: 10pt;
    border-radius: 40px;
    line-height: .5en;
    align-content: justify;
    border: 1px solid #40554E;
    padding: 15px 15px 15px 20px;
}

.aboutcontent {
    position: relative;
    z-index: 10;
    /* bottom: 860px; */
    padding-top: 100px;
}

.headshots {
    border-radius: 30px;
    border: grey solid 1px;
    max-height: 100%;
    width: 100%;
}

.nametag {
    background-color: #40554E;
    padding: 10px 10px;
    border: white 1px solid;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

/* //////////SECOND ROW OF ABOUT ///////////*/
#about {
    padding-bottom: 5%;
}

/* this creates the black/white rectangular bg */
div>.bottom {
    background: rgb(255, 255, 255, .8);
    border-top: 35px solid black;
    border-bottom: 35px solid black;
    height: 200px;
    text-align: center;
    padding-top: 10px;
}

.details {
    font-size: 9pt;
}

.icon-location:before {
    content: "\e947";
    color: #5A7A25;
    font-size: 40pt;
}

.icon-wrench:before {
    content: "\e991";
    color: #5A7A25;
    font-size: 40pt;
}

.icon-bookmark:before {
    content: "\e9d2";
    color: #5A7A25;
    font-size: 40pt;
}

.abouttop {
    padding-bottom: 60px;
}

/* SERVICES PAGE  */

.servicescontent {
    z-index: 11;
    background-color:rgb(0,0,0,.8);
}