/* ALL PAGE STYLES */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}


.container-fluid {
    padding: 0px;
}

a,
a:active,
a:visited {
    color: white;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 11pt;
}

a:hover {
    color: #c0e969;
}

button {
    color: white;
    background-color: #5A7A25;
    border: 1px solid #99C279;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px grey;
    border-radius: 45px;
    padding: 10px 45px;
    font-weight: lighter;
}


button:hover {
    color: white;
    background-color: #40554E;
    border: 1px solid #5A7A25;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px grey;
    border-radius: 45px;
    padding: 10px 45px;
    font-weight: lighter;
}

/* NAVIGATION */

nav {
    background-color: #40554E;
    opacity: .7;
    text-transform: uppercase;
    color: white;
    font-weight: 100;
    font-size: 18pt;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;

}

/* HOME/LAUNCH PAGE */
.home {
    background-repeat: no-repeat;
}

/* ABOUT PAGE */
#about {
    opacity: .6;
}

.blockcolor {
    background: black;
    border: 20px black solid;
    width: 100%;
    height: 350px;
}


.abouttext>p {
    background: white;
    opacity: .8;
    font-size: 10pt;
    border-radius: 40px;
    line-height: .5en;
    align-content: justify;
    border: 1px solid #40554E;
    padding: 15px 15px 15px 20px;
}


